@model JobPosting

@{
    ViewData["Title"] = "Create a New Job Posting";
}

<h1>Create New Posting</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DisplayJobPosting">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobPostingID" class="control-label"></label>
                <input asp-for="JobPostingID" class="form-control" />
                <span asp-validation-for="JobPostingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobPostingName" class="control-label"></label>
                <input asp-for="JobPostingName" class="form-control" />
                <span asp-validation-for="JobPostingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlySalary" class="control-label"></label>
                <input asp-for="MonthlySalary" class="form-control" />
                <span asp-validation-for="MonthlySalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnnualBonus" class="control-label"></label>
                <input asp-for="AnnualBonus" class="form-control" />
                <span asp-validation-for="AnnualBonus" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>